.footer {
    padding: 48px 0 48px 0;

    &__inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @media screen and (max-width: 600px) {
            flex-direction: column;
        }
    }

    &__right {
        display: flex;
        flex-direction: row;
        align-items: center;
        max-width: 411px;
        width: 100%;

        @media screen and (max-width: 600px) {
            flex-direction: column;
            align-items: flex-start;
        }

        &__image {
            width: 90px;
            height: 21px;
            margin-right: 14px;

            @media screen and (max-width: 600px) {
                margin-bottom: 20px;
            }
        }

        &__text {
            @include fontSize12;

            @media screen and (max-width: 600px) {
                margin-bottom: 20px;
            }
        }
    }

    &__left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 109px;
        width: 100%;
        margin-right: 76px;

        @media screen and (max-width: 670px) {
            margin-right: 20px;
        }

        &__text {
            @include fontSize12;
        }
    }
}