.reviews {
    background: #C9E8F2;

    .reviews-inner {
        position: relative;
        padding: 63px 20px 150px;

        @media screen and (max-width: 1380px) {
            padding: 320px 0 80px;
        }

        .text {
            max-width: 920px;
            width: 100%;
            font-size: 30px;
            font-weight: 400;
            line-height: 40px;
            padding: 20px 0 23px;
            margin-right: 60px;

            @include respond(980px) {
                font-size: 25px;
                line-height: 30px;
            } 
        }

        &:after {
            
            content: url(/images/Review1.png);
            display: block;
            position: absolute;
            width: 310px;
            height: 310px;
            top: 54px;
            right: 0;

            @media screen and (max-width: 1380px) {
                width: 270px;
                height: 270px;
                top: 0;
                left: 0;
                content: "";
                background-image: url(/images/Review1.png);
                background-size: 270px, 270px, cover;
                background-repeat: no-repeat;
            }
        }

        .signature {
            max-width: 270px;
            width: 100%;
            font-size: 15px;
            font-weight: 400;
            line-height: 25px;
            padding-bottom: 8px;
        }

        .iagm-review {
            max-width: 116px;
            width: 100%;
            padding-bottom: 15px;
        }
    }
}